{% extends "base.html" %}
{% block main %}
<form method="post" enctype="multipart/form-data"/>
<label for="file">Wybierz obraz:</label><br>
<input type="file" name="file" id="file" accept="image/*" required/><br>
<label for="file">Dodaj opis:</label><br>
<p>Opisy są wykorzystywane przy wyszukiwaniu obrazów. Uwzględnij wszystkie słowa, które mogą być przydatne ^^</p>
<input name="desc" id="desc"></input><br>
<input class="common_button color_button" type="Submit" value="Dodaj">
</div>
</form>
{% endblock %}
